body {

    text-align: center;
    font-family: sans-serif;
    background-color: rgb(244, 244, 244);
    font-size: 55px;

}

li {

    list-style-type: none;
    font-weight: 600;
}

.covidcouleur { 
    color: black; 

}

.specialcouleur {

    color: red
}

.arkcouleur{
    color: rgb(53, 11, 131);
}

.excouleur {
    color: gray
}


